<div class="form-group row">
    <label class="col-3 col-form-label">
        {{ field['attr']['@_label'] }}
    </label>
    <div class="col-9">
        {% if field['attr']['@_type'] == "checkbox" %}
            <div class="form-check">
                <label>
                    <input data-input="{{ field['attr']['@_type'] }}" type="checkbox" name="{{ field['attr']['@_name'] }}" value="1"{% if value %} checked{% endif %} />
                    {{ field['#text'] }}
                </label>
            </div>
        {% endif %}
        {% if field['attr']['@_type'] == "select" %}
            <select data-input="{{ field['attr']['@_type'] }}" name="{{ field['attr']['@_name'] }}" class="form-control">
                {% for option in field['option'] %}
                    <option value="{{ option['attr']['@_value'] }}"{% if value == option['attr']['@_value'] %} selected{% endif %}>
                        {{ option['#text'] }}
                    </option>
                {% endfor %}
            </select>
        {% endif %}
        {% if field['attr']['@_type'] == "text" or field['attr']['@_type'] == "path" or field['attr']['@_type'] == "file" %}
            <input data-input="{{ field['attr']['@_type'] }}" type="text" name="{{ field['attr']['@_name'] }}" class="form-control" value="{{ value }}" />
        {% endif %}
        {% if field['attr']['@_type'] == "action" %}
            <button data-input="{{ field['attr']['@_type'] }}" data-name="{{ field['attr']['@_name'] }}" class="btn btn-secondary" data-value="{{ value }}">
              {{ field['#text'] }}
            </button>
        {% endif %}
    </div>
</div>